<div class="container" style="margin-top 100px auto">
    <div class="row">
        <div class="col">
            <h2 class="text-right">Hola {{ usuario }} </h2>
            <a href="/admin/login/logout" class="btn btn-secondary">Cerrar sesion</a>
            
        </div>
    </div>
</div>
